 		body{
          padding: 5px 20px;
        }
        .side-bar{
            background-color: #001C40;
            min-height: 650px;
        }
         .contents-body{
           background-color: white;
        } 
        .list-group-item{
            background-color: #001C40;
            color: white;
        }
        .head-item{
            margin-top: 40px;
            margin-bottom: 5px;
            height:250px;
            color: wheat;
            text-align: center;
        }
       
        .list-group-item:hover{
            background-color: #001632;
        }
        .logo{
            border-radius: 10px;
            width: 97px;
            background-color: white;
            padding: 5px;
            display: block;
            margin: auto;
        }
        .user{
            margin-top: 10px;
            height: auto;
            width: 65px;
        } 


        /* spcific to this page  */
        
        /*styles for dashboard page*/
        /* ADD images with 3:1 ratio  */
        .carousel{
            margin-top: 20PX;
        }
        .count{
            display: flex;
            justify-content: space-evenly;
            margin-top: 25px;
            margin-bottom: 25px;
        }
        .counts{
            background-color: rgb(0, 28, 64);
            width: 166px;
            padding-bottom: 23px;
            text-align: center;
            color: white;
            font-weight: 500;
            border-radius: 25px;
        }
        .num{
            font-size: 49px;
        }
        .alert-success{
            width: 97%;
            margin: auto;
            font-size: 25px;
            border-top: 6px solid #001C40;
            font-weight: 500;
            color: black;
            background-color: rgb(223, 234, 241);
        }
        .notices{
            width:97%;
            padding: 35px;
            display: flex;
            justify-content: space-around;
        }
        
        /*styles for users page*/
            /* styles for user page*/
    .users-top-nav {
      display: flex;
      justify-content: space-evenly;
      
    }

    .users-top-nav-item {
      margin-top: 5px;
      background-color: white;
      height: 75px;
      width: 102px;
      color: #001C40;
      text-align: center;
      font-size: 15px;
      font-weight: 900;
	cursor: pointer;
    }

    .users-top-nav-item-icon {
      height: 35px;
      width: 35px;
    }
    .users-top-nav-active{
    	border-bottom: 5px solid #001C40;
    }
    
       /* student page styles  */
    .loaded-student-details{
      text-align: center;
    }
    .student-load-results{
      display: flex;
      justify-content: center;
      flex-flow: row wrap;
    }
    .student-load-result{

      width: 175px;
    }
    .card{
      width: 175px;
    }
    
    .card-img-top{
    height: 75px;
    width: 75px;
    margin: 4px auto;
    }
    
    .std-manage-btn{
      padding: auto;
    margin: auto;
    /* margin-right: 2px; */
    /* margin-left: auto; */
    display: block;
    padding: 2px 14px;
    }
    
      /* add new user styles */

        .add-user-header{
            font-size: 35px;
            font-weight: 700;
            text-align: center;
            color: #001C40;
            margin: 20px;
        }
        .user-add-form{
            width: 55%;
            padding: 35px;
            margin: auto;
        }
        
 /*teachers page*/
        .teacher-manage-btn{
        	    display: block;
			    margin-top: 20px;
			    margin-bottom: 20px;
			    margin-left: auto;
			    margin-right: auto;
        }
        
 /*update model styles*/
 		.id-read-only>input{
 			border: none;
		    background-color: #001C40;
		    text-align: center;
		    color: white;
 		}
 		.model-card-img-top{
 			display: block;
 			text-align: center;
 		}
 		.update-delete-btn{
 		    margin: auto;
    		display: block;
    	}
    	
    	
 /*Back button styles*/
	 .back-btn{
     margin: 10px;
    padding: 5px;
    font-size: 14px;
    padding-right: 10px;
	 }
	 
/*parent profile page*/
	.parent-profile-page{
			font-size: 21px;
	}
	.parent-profile-page h3{
		text-align: center;
		    margin-bottom: 26px;
	}
	.load-parents{
		display: flex;
    	justify-content: center;
    	flex-wrap: wrap;
	}
	